.carousel-control-prev,
.carousel-control-next {
    color: black;
}

.carousel-indicators {
    bottom: -100px;
}

.chev-style{
   color: black;
   margin: 20px;
}

.fa-chevron-left{
    height: 50px;
}

.card-container {
    height: 250px;
    color: white;
    background-color: #C4291C;
}

.card-container:hover {
    background-color: black;
}

.text-card {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}