<div class="container mt-5">
    <div class="carousel1" [ngClass]="{'d-none': ocultaCarousel1}">
        <h2 class="text-center mb-5">¿Por qué quieres acoger?</h2>
        <div id="carousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div id="tarjeta1" class="card card-container"
                                    (click)="getCardInformation('carousel1', 'tarjeta1')">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-card justify-content-center">Porque
                                            quiero
                                            ayudar a los niños</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="tarjeta2" class="card card-container"
                                    (click)="getCardInformation('carousel1', 'tarjeta2')">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-card justify-content-center">Porque asi
                                            me siento mejor</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="tarjeta3" class="card card-container"
                                    (click)="getCardInformation('carousel1', 'tarjeta3')">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-card justify-content-center">Quiero
                                            ayudar</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div id="tarjeta4" class="card card-container"
                                    (click)="getCardInformation('carousel1', 'tarjeta3')">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-card justify-content-center">Porque ellos son el futuro</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="tarjeta5" class="card card-container"
                                    (click)="getCardInformation('carousel1', 'tarjeta5')">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-card justify-content-center">No estoy
                                            seguro</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-5">
            <a class="boton-style" (click)="prevCarousel('carousel1')">
                <fa-icon [icon]="faChevronLeft"></fa-icon>
            </a>
            <a class="boton-style" (click)="nextCarousel('carousel1')">
                <fa-icon [icon]="faChevronRight"></fa-icon>
            </a>
        </div>

    </div>

    <div class="carousel2" [ngClass]="{'d-none': ocultaCarousel2}">
        <h2 class="text-center mb-5">¿Que puedes aportar?</h2>
        <div id="carousel2" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div id="tarjeta6" class="card card-container"
                                    (click)="getCardInformation('carousel2', 'tarjeta6')">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-card justify-content-center">Porque asi
                                            me siento mejor</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="tarjeta7" class="card card-container"
                                    (click)="getCardInformation('carousel2', 'tarjeta7')">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-card justify-content-center">Quiero
                                            brindar oportunidades</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="tarjeta8" class="card card-container"
                                    (click)="getCardInformation('carousel2', 'tarjeta8')">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-card justify-content-center">Quiero dar
                                            un hogar</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div id="tarjeta9" class="card card-container"
                                    (click)="getCardInformation('carousel1', 'tarjeta3')">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-card justify-content-center">Quiero alimentar</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="tarjeta10" class="card card-container"
                                    (click)="getCardInformation('carousel2','tarjeta10')">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-card justify-content-center">No estoy
                                            seguro</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-5">
            <a class="boton-style" (click)="prevCarousel('carousel2')">
                <fa-icon [icon]="faChevronLeft"></fa-icon>
            </a>
            <a class="boton-style" (click)="nextCarousel('carousel2')">
                <fa-icon [icon]="faChevronRight"></fa-icon>
            </a>
        </div>

    </div>

    <div class="carousel3" [ngClass]="{'d-none': ocultaCarousel3}">
        <h2 class="text-center mb-5">¿Que tipo de acogimiento deseas brindar?</h2>
        <div id="carousel3" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div id="tarjeta11" class="card card-container"
                                    (click)="getCardInformation('carousel3', 'tarjeta11')">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-card justify-content-center">Urgente
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="tarjeta12" class="card card-container"
                                    (click)="getCardInformation('carousel3', 'tarjeta12')">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-card justify-content-center">Temporal
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="tarjeta13" class="card card-container"
                                    (click)="getCardInformation('carousel3', 'tarjeta13')">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-card justify-content-center">Permanente
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div id="tarjeta14" class="card card-container"
                                    (click)="getCardInformation('carousel3', 'tarjera14')">
                                    <div class="card-body card-container">
                                        <h5 class="card-title text-center text-card justify-content-center">
                                            Especializado</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="tarjeta15" class="card card-container"
                                    (click)="getCardInformation('carousel3', 'tarjeta15')">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-card justify-content-center">Profesional
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <a class="boton-style" (click)="prevCarousel('carousel3')">
                <fa-icon [icon]="faChevronLeft"></fa-icon>
            </a>
            <a class="boton-style" (click)="saveFirstData()" [routerLink]="'/formulario'">
                <fa-icon [icon]="faChevronRight"></fa-icon>
            </a>
        </div>
    </div>
</div>