<div class="container mt-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <a class="chev-style" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <fa-icon [icon]="faChevronLeft"></fa-icon>
            </a>
            <a class="chev-style" href="#carouselExampleIndicators" role="button" data-slide="next">
                <fa-icon [icon]="faChevronRight"></fa-icon>
            </a>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <app-card></app-card>
            </div>
            <div class="carousel-item">
                <app-card></app-card>
            </div>
            <div class="carousel-item">
                <app-card></app-card>
            </div>
        </div>
    </div>
</div>