<div class="container mt-5">
    <div class="carousel1" [ngClass]="{'d-none': ocultaCarousel1}">
        <h2 class="text-center mb-5">¿Por qué quieres acoger?</h2>
        <div id="carousel1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <a class="chev-style" href="#carousel1" role="button" data-slide="prev">
                    <fa-icon [icon]="faChevronLeft"></fa-icon>
                </a>
                <a class="chev-style" href="#carousel1" role="button" data-slide="next">
                    <fa-icon [icon]="faChevronRight"></fa-icon>
                </a>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card-container" (click)="getCardInformation('tarjeta1', 'carousel1')">
                                    <div class="card-body card-container">
                                        <h5 class="card-title text-center text-card justify-content-center">Porque
                                            quiero ayudar a los niños</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-container" (click)="getCardInformation('tarjeta2', 'carousel1')">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-card justify-content-center">Porque asi
                                            me siento mejor</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-container" (click)="getCardInformation('tarjeta3', 'carousel1')">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-card justify-content-center">Quiero
                                            ayudar</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card-container" (click)="getCardInformation('tarjeta4', 'carousel1')">
                                    <div class="card-body card-container">
                                        <h5 class="card-title text-center text-card justify-content-center">Son ellos el
                                            futuro</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-container" (click)="getCardInformation('tarjeta5', 'carousel1')">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-card justify-content-center">No estoy
                                            seguro</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="carousel2" [ngClass]="{'d-none': ocultaCarousel2}">
        <h2 class="text-center mb-5">¿Que puedes aportar?</h2>
        <div id="carousel2" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <a class="chev-style" href="#carousel2" role="button" data-slide="prev">
                    <fa-icon [icon]="faChevronLeft"></fa-icon>
                </a>
                <a class="chev-style" href="#carousel2" role="button" data-slide="next">
                    <fa-icon [icon]="faChevronRight"></fa-icon>
                </a>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card-container" (click)="getCardInformation('tarjeta6', 'carousel2')">
                                    <div class="card-body card-container">
                                        <h5 class="card-title text-center text-card justify-content-center">Quiero hacerme responsable</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-container" (click)="getCardInformation('tarjeta7', 'carousel2')">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-card justify-content-center">Quiero brindar oportunidades</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-container" (click)="getCardInformation('tarjeta8', 'carousel2')">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-card justify-content-center">Quiero dar un hogar</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card-container" (click)="getCardInformation('tarjeta9', 'carousel2')">
                                    <div class="card-body card-container">
                                        <h5 class="card-title text-center text-card justify-content-center">Puedo dar apoyo alimienticio</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-container" (click)="getCardInformation('tarjeta10','carousel2')">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-card justify-content-center">No estoy seguro</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="carousel3" [ngClass]="{'d-none': ocultaCarousel3}">
        <h2 class="text-center mb-5">¿Que tipo de acogimiento deseas brindar?</h2>
        <div id="carousel3" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <a class="chev-style" href="#carousel3" role="button" data-slide="prev">
                    <fa-icon [icon]="faChevronLeft"></fa-icon>
                </a>
                <a class="chev-style" href="#carousel3" role="button" data-slide="next">
                    <fa-icon [icon]="faChevronRight"></fa-icon>
                </a>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card-container" (click)="getCardInformation('tarjeta11', 'carousel3')" [routerLink]="'/formulario'">
                                    <div class="card-body card-container">
                                        <h5 class="card-title text-center text-card justify-content-center">Acogimiento familiar de urgencia</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-container" (click)="getCardInformation('tarjeta12', 'carousel3')" [routerLink]="'/formulario'">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-card justify-content-center">Temporal</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-container" (click)="getCardInformation('tarjeta13', 'carousel3')" [routerLink]="'/formulario'">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-card justify-content-center">Permanente</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card-container" (click)="getCardInformation('tarjeta14', 'carousel3')" [routerLink]="'/formulario'">
                                    <div class="card-body card-container">
                                        <h5 class="card-title text-center text-card justify-content-center">Especializado</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-container" (click)="getCardInformation('tarjeta15', 'carousel3')" [routerLink]="'/formulario'">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-card justify-content-center" >Profesional</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>