<div class="container d-none d-md-block">
    <nav class="navbar navbar-expand-lg navbar-content p-0">
        <div class="col-3 col-content">
            <a class="navbar-brand font-nav-logo d-flex justify-content-center" href="#"><img class="logo-cruz"
                    src="../../../assets/images/cruz roja.png" alt="">&nbsp;&nbsp;
                <span class="p-3">Inicio</span></a>
        </div>

        <div class="col-9">
            <div class="container">
                <div class="row">
                    <ul class="navbar-nav">
                        <li class="nav-item col-3 col-content">
                            <a class="nav-link d-flex justify-content-center p-4 font-nav" href="#">Acogida</a>
                        </li>
                        <li class="nav-item col-3 col-content">
                            <a class="nav-link d-flex justify-content-center p-4  font-nav" href="#">Valoraciones</a>
                        </li>
                        <li class="nav-item col-3 col-content">
                            <a class="nav-link d-flex justify-content-center p-4  font-nav" href="#">Contacto</a>
                        </li>
                        <li class="nav-item col-3 col-content dropdown">
                            <a class="nav-link d-flex justify-content-center p-4  font-nav dropdown-toggle" href="#"
                                id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Mi&nbsp;cuenta&nbsp;&nbsp;<fa-icon [icon]="faChevronDown"></fa-icon>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>


<div class="container d-md-none">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>