<div class="container">
    <div class="container-main mt-4">
        <img src="../../../assets/images/main_image.jpeg" alt="">
    </div>
    <div class="container-etapas">
        <h2 class="mb-0 mt-5">Etapas</h2>
        <div class="linea-horizontal mb-3"></div>

        <div class="row">
            <div class="col-3 p-0 col-sizes primera-infancia">
                <div class="d-flex justify-content-center align-items-center text-images">
                    <span class="text-center">Primera Infancia</span>
                </div>
            </div>
            <div class="col-3 p-0 col-sizes segunda-infancia">
                <div class="d-flex justify-content-center align-items-center text-images">
                    <span class="text-center">Segunda Infancia</span>
                </div>
            </div>
            <div class="col-3 p-0 col-sizes adolecencia">
                <div class="d-flex justify-content-center align-items-center text-images">
                    <span class="text-center">Adolecencia</span>
                </div>
            </div>
            <div class="col-3 p-0 col-sizes todas-edades">
                <div class="d-flex justify-content-center align-items-center text-images">
                    <span class="text-center">Útil para todas la edades</span>
                </div>
            </div>
        </div>
    </div>
</div>