<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body card-container">
                    <h5 class="card-title text-center text-card">Título de la primera tarjeta</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-container">
                <div class="card-body">
                    <h5 class="card-title text-center text-card">Título de la segunda tarjeta</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-container">
                <div class="card-body">
                    <h5 class="card-title text-center text-card">Título de la tercera tarjeta</h5>
                </div>
            </div>
        </div>
    </div>
</div>